
@{
    ViewBag.Title = "RegisterCode";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<h2>Congratulations! You have been successfully registered to our system. You may now click on the log-in button to be redirected to the order screen.</h2>

