@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/About.css" />
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About us page</h1>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="~/Content/img/bluebell.jpg"
                         alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left; float:right; width:60%; margin-top:15px; margin-bottom:15px;">
                </div>
                <p class="lead text-muted mb-0">We sell computer supplies under Whirl Business Enterprises of Cebu Branch</p
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Our mission is to provide our customers with comprehensive 
                computer supplies and services, enabling them to maximize their productivity and success. 
                We will exceed customer expectations by providing quality products, competitive pricing, and 
                excellent customer service. Our goal is to create a long-term relationship with our customers, 
                built on trust and reliability.</p>
            </div>
        </div>

        <div class="row text-center">

        </div>
    </div>

</div>

